<div class="alert alert-danger" style="display: none" id="alert_error"></div>
<div class="alert alert-success" style="display: none" id="alert_success"></div>
<form action="http://u15643.kubsu-dev.ru/submit_form" method="POST" id="myForm">
	<input type="hidden" name="method" value="%s">
    <div class="form-group">
        <label><strong>Name</strong></label>
        <input type="text" class="form-control" name="Name" placeholder="name" value="%s">
    </div>
    <div class="form-group">
        <label><strong>Email</strong></label>
        <input type="text" class="form-control" name="E_mail" placeholder="e-mail"  value="%s">
    </div>
    <div class="form-group">
        <label><strong>Date</strong></label>
        <select class="form-control" name="Date">
            <option value="2002" %s>2002</option>
            <option value="2001" %s>2001</option>
            <option value="2000" %s>2000</option>
            <option value="1999" %s>1999</option>
            <option value="1998" %s>1998</option>
        </select>
    </div>
    <div class="form-group">
        <label><strong>Gender</strong></label><br>
        <div>
            <input type="radio" name="Gender" value="Male" %s>
            <label>
                Male
            </label>
        </div>
        <div>
            <input type="radio" name="Gender" value="Female" %s>
            <label>
                Female
            </label>
        </div>
    </div>
    <div class="form-group">
        <label><strong>Number of limbs</strong></label><br>
        <input type="radio" name="Number_of_limbs" value="4" %s>
        <label>4</label>
        <input type="radio" name="Number_of_limbs" value="3" %s>
        <label>3</label>
        <input type="radio" name="Number_of_limbs" value="2" %s>
        <label>2</label>
        <input type="radio" name="Number_of_limbs" value="1" %s>
        <label>1</label>
        <input type="radio" name="Number_of_limbs" value="0" %s>
        <label>0</label>
    </div>
    <div class="form-group">
        <label><strong>Superpowers</strong></label><br>
        <select multiple name="Superpowers[]" class="form-control">
          <option value="Immortality" id="Immortality" %s>Immortality</option>
          <option value="Passing through walls"  id="Passing through walls" %s>Passing through walls</option>
          <option value="Levitation"  id="Levitation" %s>Levitation</option>
        </select>
    </div>
    <div class="form-group">
        <label><strong>Biografia</strong></label><br>
        <textarea name="Biografia" class="form-control" placeholder="Enter text">%s</textarea>
    </div>
    <div class="form-group" id="accept_submit">
        <input type="checkbox" name="Accept">
        <label>
            Accept the privacy policy
        </label>
    </div>
    <button type="submit" class="btn btn-dark" id="btn_submit">Submit</button>
</form>
<script>
    let myForm = document.getElementById("myForm");
    myForm.addEventListener('submit', function(event){
        event.preventDefault();

        requestOnSubmit();
    });
    
    async function requestOnSubmit() {
    	let s = Array();
    	for (let i=0; i<3; i++) {
    		if ( myForm.elements["Superpowers[]"][i].selected ) {
    			s.push( myForm.elements["Superpowers[]"][i].value );
    		}
    	}
    	
    	let errors = dataValidation(s);
    	if (errors.length > 0) {
    		let strErrors = '';
    		
    		for (key in errors) {
    			strErrors += "● " + errors[key] + '<br>';
    		}
    		
    		displayStrErrors(strErrors);
    		
    		return;
    	}
    	
		let promise = fetch('http://u15643.kubsu-dev.ru/submit_form', {
			method: myForm.elements["method"].value,
			headers: {'Content-Type': 'application/json', 'Accept': 'application/json'},
			body: JSON.stringify({ Name: myForm.elements["Name"].value,
								   E_mail: myForm.elements["E_mail"].value,
								   Date: myForm.elements["Date"].value,
								   Gender: myForm.elements["Gender"].value,
								   Number_of_limbs: myForm.elements["Number_of_limbs"].value,
								   Superpowers: s,
								   Biografia: myForm.elements["Biografia"].value,
								   Accept: myForm.elements["Accept"].checked
								 })
		});
		
		let response = await promise;
		
		if (response.ok) {
			let json = await response.json();
			let strPass = '';
			
			for (key in json) {
				strPass += key + ": " + json[key] + '<br>';
			}
			
			displayStrPass(strPass);
			
		} else {
			let json = await response.json();
			let strErrors = '';
			
			for (key in json) {
				strErrors += "● " + json[key] + '<br>';
			}
			
			displayStrErrors(strErrors);
		}
		
	}
    
    function dataValidation(s) {
    	let errors = Array();
    	
    	if ( /^$/.test(myForm.elements["Name"].value) ) {
    		errors.push('Empty "Name" field');
    	} else if ( myForm.elements["Name"].value.length > 20 ) {
    		errors.push('"Name" is too long');
    	} else if (! /^[a-zA-Z]{1}[a-zA-Z]*$/.test(myForm.elements["Name"].value) ) {
    		errors.push('"Name" field must consist only of letters');
    	}
    	
    	if( /^$/.test(myForm.elements["E_mail"].value) ) {
    		errors.push('Empty "Email" field');
        } else if ( myForm.elements["E_mail"].value.length > 320 ) {
        	errors.push('"Email" is too long');
        } else if (! /[^\s]+@[^\s\.]+\.[a-z]+/.test(myForm.elements["E_mail"].value) ) {
        	errors.push('Invalid format for the "Email" field. Right format for example: example@mail.com');
        }
        
        if ( s.length == 0 ) {
        	errors.push('"Superpower" is not selected');
        }
        
        if ( /^$/.test(myForm.elements["Biografia"].value) ) {
        	errors.push('Empty "Biografia" field');
        } else if ( myForm.elements["Biografia"].value.length > 320 ) {
        	errors.push('"Biografia" is too long');
        } else if ( /[<>]/.test(myForm.elements["Biografia"].value) ) {
        	errors.push('In the "Biografia" field you can`t use <,>');
        }
        
        if (!myForm.elements["Accept"].checked) {
        	errors.push('The privacy policy has not been accepted');
        }
    	
    	return errors;
    }
    
    function displayStrPass(strPass) {
    	document.getElementById("alert_success").innerHTML = strPass;
		document.getElementById("alert_success").style = "display: block";
		document.getElementById("alert_error").style = "display: none";
    }
    
    function displayStrErrors(strErrors) {
    	document.getElementById("alert_error").innerHTML = strErrors;
		document.getElementById("alert_success").style = "display: none";
		document.getElementById("alert_error").style = "display: block";
    }
</script>