<h2>Sign in</h2>
<form action="sign_in" method="POST">
    <div class="form-group">
        <label><strong>Login</strong></label>
        <input type="text" class="form-control" name="Login" placeholder="Login">
    </div>
    <div class="form-group">
        <label><strong>Password</strong></label>
        <input type="text" class="form-control" name="Password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-dark">Sign in</button>
</form>